<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3 sd">You Secret is Safe!</h1>
    <h3 class="display-5 sd">Click the check box to delete forever!</h3>

    <% usersWithSecrets.forEach((usersWithSecret)=>{%>
      <form action="/delete" method="POST">
     
      <div class="item my-div">
   
        <p class="secret-text"> <%=usersWithSecret.message%> </p>  
        <input type="checkbox" name="checkbox" value="<%=usersWithSecret._id%>" onChange="this.form.submit()">
       
      </div>
 
    </form>
      <%  })%>

  
      <hr>
    
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
